@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400;1,500&display=swap');
@import "./mixins";

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

body {
    overflow-x: hidden;
}

div.navbar {
    width: 80px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    box-shadow: 0 0 12px 1px rgba(34, 34, 34, 0.096);
    display: none;

    @include tablet {
        display: block;
    }

    @include desktop {
        width: 200px;
    }

    @include bigDesktop {
        width: 300px;
    }
}

@import "./feed";
@import "./login";
@import "./post";
@import "./perfil";
@import "./search";
@import "./mobileNav";
@import "./desktopNav";