@import "./mixins";

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    outline: none;
}

body {
    overflow-x: hidden;
}

@import "./feed";
@import "./login";
@import "./post";
@import "./navmobile.scss";
@import "./navdesktop.scss";
@import "./coments.scss";
