@import "./mixins";

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

body {
    overflow-x: hidden;
}

@import "./feed";
@import "./login";
@import "./post";
@import "./user.scss";
@import "./coments.scss";
