
     .mobileContainer{
         display: flex;
         justify-content: space-between;
         position:fixed;
         bottom: 0;    
         width: 100%;
         background-color: #ffe5d5;
         @include desktop{
            display: none;
         }
         a {
             position: relative;
             height: 45px;
         }
          
         .addCircle {
             background-color: #b92025e8;
             position: relative;
             bottom: 20px;
             border-radius: 70px;     
         }
         
         .profile {
             background-color: aliceblue;
             padding: 5px;
             border-radius: 200px 200px 200px 200px;
             -moz-border-radius: 200px 200px 200px 200px;
             -webkit-border-radius: 200px 200px 200px 200px;
             border: 0px none #000000;
             background-color: tomato;
             position: relative;
             bottom: 4px;
         }
            
         .item {
             background-color: aliceblue;
             padding: 5px;
             border-radius: 200px 200px 200px 200px;
             -moz-border-radius: 200px 200px 200px 200px;
             -webkit-border-radius: 200px 200px 200px 200px;
             border: 0px none #000000;
             box-shadow: 0px 7px 5px 0px rgba(97,94,94,0.75) inset;
             -webkit-box-shadow: 0px 7px 5px 0px rgba(97,94,94,0.75) inset;
             -moz-box-shadow: 0px 7px 5px 0px rgba(97,94,94,0.75) inset;
             position: relative;
             bottom: 4px;
         }
         
     }

  
    
