// Contenedor de la page
div.profileContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto;
    height: 100vh;

    // Imagen de fondo
    div.background {
        width: 100%;
        height: 140px;
        background-position: center 13%;
        background-size: cover;

        @include tablet {
            height: 180px;
        }
    }

    // Seccion de usuario
    div.header {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: min-content;
        position: relative;
        z-index: 1;

        // Informacion del usuario
        div.user {
            display: grid;
            grid-template-columns: 120px auto;
            padding: .6rem 1.5rem 0 1.5rem;
            gap: 1rem;

            @include tablet {
                gap: 1.6rem 1.2rem;
                padding: .6rem 3rem 0 3rem;
                grid-template-columns: 130px auto min-content;
                align-items: center;
            }

            @include desktop {
                gap: 2rem 1.2rem;
                padding: .6rem 6rem 0 6rem;
            }

            // Imagen de perfil
            img {
                position: absolute;
                object-fit: cover;
                left: 1.5rem;
                transform: translateY(-3.8rem);
                border-radius: 6px;
                background-color: #fff;
                box-shadow: 0 0 8px 1px rgba(34, 34, 34, 0.089);
                cursor: pointer;

                @include tablet {
                    width: 130px;
                    height: auto;
                    left: 3rem;
                    transform: translateY(-5.2rem);
                }

                @include desktop {
                    left: 6rem;
                    transform: translateY(-5.6rem);
                }
            }

            // Nombre de usuario y nombres
            div.info {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.1rem;

                h3, span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                h3 {
                    font-size: 1.1rem;

                    @include tablet {
                        font-size: 1.2rem;
                    }
                }

                span {
                    font-size: 1rem;
                }

            }

            // Publicaciones, seguidos y seguidores
            div.stats {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                text-align: center;
                grid-column: 1/3;

                @include tablet {
                    grid-template-columns: min-content min-content min-content;
                    gap: 2rem;
                }
    
                span {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-family: sans-serif;
                    font-weight: 0;
                    color: rgba(34, 34, 34, 0.781);

                    @include tablet {
                        flex-direction: row;
                        align-items: center;
                        gap: 0.4rem;
                        font-size: 1.2rem;
                    }
    
                    b {
                        color: #222;
                        font-size: 1.1rem;

                        @include tablet {
                            font-size: 1.2rem;
                            font-family: sans-serif;
                        }
                    }
                }
            }

            // Boton editar perfil
            button.editProfile {
                padding: 0.3rem;
                border: none;
                border-radius: 4px;
                background-color: rgb(230, 230, 230);
                color: #111;
                font-weight: bold;
                font-size: 1rem;
                grid-column: 1/3;
                white-space: nowrap;
                cursor: pointer;

                @include tablet {
                    grid-column: 3/4;
                    grid-row: 1/2;
                    padding: 0.3rem 2rem;
                }
            }

            // Titulo de la seccion publicaciones
            span.publicationsTitle {
                grid-column: 1/3;
                font-size: 1.1rem;
                font-weight: 600;
                color: #111;
                padding-bottom: 0.4rem;;
                border-bottom: 2px solid rgb(230, 230, 230);

                @include tablet {
                    grid-column: 1/4;
                    font-size: 1.2rem;
                    margin-top: -0.4rem;
                }

                @include desktop {
                    font-size: 1.4rem;
                    margin-top: -.8rem;
                }
            }
        }
    }

    // Lista de publicaciones
    div.publications {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: min-content;
        gap: .1rem;
        padding: 1rem 0 0 0;

        @include tablet {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 1rem 3rem 2rem 3rem;
            gap: 0.2rem;
        }

        @include desktop {
            padding: 1rem 6rem 2rem 6rem;
            gap: 0.3rem;
        }

        @include bigDesktop {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 0.4rem;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: auto;
            transition: filter 100ms ease;
            cursor: pointer;

            &:hover {
                @include desktop {
                    filter: brightness(80%);
                }
            }
        }
    }

    // Pantalla en caso de que no haya publicaciones
    div.noPublications {
        display: grid;
        grid-template-rows: min-content min-content;
        align-content: center;
        padding: 0 1.5rem;
        gap: 0.2rem;

        span {
            text-align: center;
            color: #222;
        }
        
        span:first-child {
            font-size: 1.2rem;
            font-weight: bold;

            @include tablet {
                font-size: 1.4rem;
            }

            @include bigDesktop {
                font-size: 1.6rem;
            }
        }

        span:last-child {
            font-size: 1.1rem;

            @include bigDesktop {
                font-size: 1.3rem;
            }
        }
    }

    // Fondo de seePublications (para poder mostrar un box-shadow)
    div.seeBackground {
        display: none;

        @include tablet {
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 1;
        }
    }

    // Seccion de publicaciones tras acceder a una
    div.seePublications {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: min-content auto;
        background-color: #fff;
        z-index: 1;

        @include tablet {
            left: 6rem;
            right: 6rem;
            box-shadow: 0 0 12px 1px rgba(34, 34, 34, 0.089);
        }

        @include desktop {
            left: 12rem;
            right: 12rem;
        }

        @include bigDesktop {
            left: 27rem;
            right: 27rem;
        }

        div.nav {
            display: grid;
            grid-template-columns: min-content min-content;
            align-items: center;
            justify-items: center;
            padding: .8rem 1.2rem;
            gap: 1.5rem;
            border-bottom: 1px solid lightgray;

            // Volver atras
            img {
                cursor: pointer;
                object-fit: cover;
            }

            span {
                font-size: 1.2rem;
                font-weight: bold;
                color: #222;
            }
        }

        // Contenedor de las publicaciones
        div.list {
            display: grid;
            grid-template-columns: auto;
            grid-auto-rows: min-content;
            gap: 1rem;
            overflow-y: auto;
            padding-bottom: 1rem;
        }
    }
}