@import "./mixins";

div#postPage {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    justify-items: center;
    height: 100vh;

    div.publicationContainer {

        div.square {
            border-radius: 8px;

            div.user {

                div.menuContainer {
                    
                    @keyframes showMenu {
                        0% {
                            opacity: 0;
                            top: 110%;
                        }
    
                        100% {
                            opacity: 1;
                            top: 120%;
                        }
                    }
    
                    div.menu {
                        top: 120%;
                        bottom: auto;

                        div.arrow {
                            top: -8px;
                            transform: rotate(0deg);
                        }
                    }
                }
            }

        }

        div.likes {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            padding-top: 0.5rem;
            color: #333;

            img {
                cursor: pointer;
            }
        }
    }
}